#crystal {
    height: 100px;
    width: 100px;
}

h1 {
    text-align: center;
    font-size: 100px;
    font-family: 'Mystery Quest', cursive;
    margin-top: 20px;
}

body {
    background-image: url(../../assets/images/crystal5.jpg);
    background-repeat: no-repeat;
    background-position: center;

}

.row {
    margin-left: 525px;
}

button {
    background: transparent;
}

#img1 {
    height: 150px;
    width: 150px;
}

#img2 {
    height: 150px;
    width: 150px;
}

#img3 {
    height: 150px;
    width: 150px;
}

#img4 {
    height: 150px;
    width: 150px;
}

h2 {
    margin-left: 450px;
    font-family: 'Mystery Quest', cursive;
    font-size: 30px;
}

p {
    margin-left: 450px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

h3 {
    margin-left: 425px;
    font-family: 'Mystery Quest', cursive;
    font-size: 30px;
}

p2 {
margin-left: 425px;
}

#playerWins {
    font-family: 'Mystery Quest', cursive;
    font-size: 30px;  
}

#playerLosses {
    font-family: 'Mystery Quest', cursive;
    font-size: 30px;
}